<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Genereador de Órdenes de Compra </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="{% static 'pos/functions.js'  %}"></script>
    </head>
    <body><form method="POST" action="{% url 'pos:preview_po' %}">
        {% csrf_token %}
        <div class="container" role="main">
            <div class="page-header">
                <img src="{% static 'pos/logo.jpeg'  %}">
                <span class="pull-right pull-down">Nombre de usuario <a href="#">salir</a></span>
            </div>
            <div id="newPo" class="carousel slide" data-ride="carousel" data-wrap="false" data-interval="0">
                <ol class="carousel-indicators">
                    <li class="active" data-target="#newPo" data-slide-to="0"></li>
                    <li class="" data-target="#newPo" data-slide-to="1"></li>
                    <li class="" data-target="#newPo" data-slide-to="2"></li>
                    <li class="" data-target="#newPo" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="jumbotron" style="min-height:600px">
                            <h4>Paso 1: Área</h4>
                            <br>
                            <select name="user_area" class="form-control" id="userArea" placeholder="Tu Área">
                                {% for area in areas %}
                                <option value="{{ area.id }}">{{area.short_name}} - {{ area.long_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="item">
                        <div class="jumbotron" style="min-height:600px">
                            <h4>Paso 2: Proveedor</h4>
                            <select name="provider" class="form-control" id="provider" placeholder="Elige un proveedor" onchange="show_provider($('#provider').val())" >
                                {% for provider in providers %}
                                <option value="{{ provider.id }}">{{ provider.name }}</option>
                                {% endfor %}
                            </select>
                            <br>
                            {% for provider in providers %}
                            <div class="provider row marketing hidden" id="provider_{{ provider.id }}">
                                <div class="col-sm-6">
                                    <label for="providerName">Nombre del proveedor</label>
                                    <input type="text" class="form-control" id="providerName" value="{{ provider.name }}" disabled>
                                    <br>
                                    <label for="providerBusines">Giro</label>
                                    <input type="text" class="form-control" id="providerBusiness" value="{{ provider.business  }}" disabled>
                                    <br>
                                    <label for="providerRut">Rut</label>
                                    <input type="text" class="form-control" id="providerRut" value="{{ provider.rut  }}" disabled>
                                    <br>
                                    <label for="providerAddress">Dirección</label>
                                    <input type="text" class="form-control" id="providerAddress" value="{{ provider.address  }}" disabled>
                                    <br>
                                    <label for="providerPhone">Teléfono</label>
                                    <input type="text" class="form-control" id="providerPhone" value="{{ provider.phone}}"  disabled>
                                </div>
                                <div class="col-sm-6">
                                    <label for="contactName">Nombre del contacto</label>
                                    <input type="text" class="form-control" id="contactName" value="{{ provider.contact_name  }}" disabled>
                                    <br>
                                    <label for="contactArea">Área del contacto</label>
                                    <input type="text" class="form-control" id="contactArea" value="{{ provider.contact_area }}" disabled>
                                    <br>
                                    <label for="contactPhone">Teléfono del contacto</label>
                                    <input type="text" class="form-control" id="contactPhone" value="{{ provider.contact_phone }}" disabled>
                                    <br>
                                    <label for="contactEmail">Email del contacto</label>
                                    <input type="text" class="form-control" id="contactEmail" value="{{ provider.contact_email }}" disabled>
                                </div>
                            </div>
                            <script>
                                show_provider($('#provider').val())
                            </script>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="item">
                        <div class="jumbotron" style="min-height:600px">
                            <h4>Paso 3: Productos</h4>
                            <div class="row">
                                <div class="col-xs-2">
                                    <label>Moneda: </label>
                                </div>
                                <div class="col-xs-3">
                                    <select name="currency" class="form-control" id="currency">
                                        {% for currency in currencies%}
                                        <option value="{{ currency.id }}">{{ currency.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div id="po_details" class="row marketing hidden">
                                <div class="col-xs-6">
                                    <input name="detail_name[]" type="text" class="form-control" placeholder="Concepto">
                                </div>
                                <div class="col-xs-2">
                                    <input name="quantity[]" type="number" class="form-control" placeholder="Cantidad">
                                </div>
                                <div class="col-xs-2">
                                    <input name="price[]" type="number" class="form-control" placeholder="Importe">
                                </div>
                            </div>
                            <div class="row marketing">
                                <div class="col-xs-6">
                                    <input name="detail_name[]" type="text" class="form-control" placeholder="Concepto">
                                </div>
                                <div class="col-xs-2">
                                    <input name="quantity[]" type="number" class="form-control" placeholder="Cantidad">
                                </div>
                                <div class="col-xs-2">
                                    <input name="price[]" type="number" class="form-control" placeholder="Importe">
                                </div>
                            </div>
                            <span id="add_detail" class="btn">
                                <a id="add_detail_btn" href="#" class="btn btn-md btn-info">Nuevo elemento</a>
                            </span>
                            <script>
                                $("#add_detail").click(function() {
                                        var new_detail = $("#po_details").clone(true);
                                        new_detail.insertBefore("#add_detail");
                                        new_detail.removeClass('hidden');
                                        new_detail.removeAttr('id');
                                        return false;
                                });
                            </script>
                            <br>
                        </div>
                    </div>
                    <div class="item">
                        <div class="jumbotron" style="min-height:600px">
                            <h4>Paso 4: Pago</h4>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Método de pago:</label>
                                </div>
                            <div class="col-xs-3">
                                <select name="payment_method" class="form-control" id="payment_method">
                                        {% for method in payment_methods %}
                                        <option value="{{ method.id }}">{{ method.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <label>Condiciones de pago:</label>
                                </div>
                                <div class="col-xs-3">
                                    <select name="payment_condition" class="form-control" id="payment_method">
                                        {% for condition in payment_conditions %}
                                        <option value="{{ condition.id }}">{{ condition.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <label>Número de contrato</label>
                                </div>
                                <div class="col-xs-3">
                                    <input name="contract_number" id="contract_number" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <label>Orden de cotización</label>
                                </div>
                                <div class="col-xs-3">
                                    <input name="quotation_order" id="quotation_order" class="form-control">
                                </div>
                            </div>
                            <input type="submit" class="btn btn-md btn-success" value="Vista previa">
                        </div>
                    </div>
                
                </div>
<a href="#newPo" class="left carousel-control" role="button" data-slide="prev" style="width:30px; background-image:none">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a href="#newPo" class="right carousel-control" role="button" data-slide="next" style="width:30px; background-image:none">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </form></body>
</html>

