<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Generador de Órdenes de Compra </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="{% static 'pos/functions.js'  %}"></script>
    </head>
    <body>
        <div class="container">
            <div id="list_header" class="row">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4">
                    <img src="{% static 'pos/logo.jpeg' %}"></img>
                </div>
            </div>
            <div class="jumbotron">
                <div class="col-xs-4">
                    <select class="form-control" id="provider" name="provider">
                        <option value="0">Todos lo proveedores</option>
                        {% for provider in providers %}
                            <option value="{{ provider.pk }}">{{ provider.name  }}</option>
                        {% endfor %}
                     </select>
                </div>
                <div class="col-xs-4">
                    <select class="form-control" id="area" name="area">
                        <option value="0">Todas las áreas</option>
                        {% for area in areas %}
                            <option value="{{ area.pk }}">{{ area.short_name  }} - {{ area.long_name }}</option>
                        {% endfor %}
                     </select>
                </div>
                <div class="col-xs-4">
                    <a id="search-btn" href="#" class="btn btn-md btn-info">Buscar</a>
                </div>
                <script>
                    $("#search-btn").click(function (){
                        var search_url = "/pos/filter/" + $("#provider").val() + "/" + $("#area").val();
                        window.location.href = search_url;
                    });
                </script>
            </div>
        </div>
    </body>
</html>    
